<!--views/pages/index.ejs-->

<!DOCTYPE html>
<html>
<head>
    <!-- call the ejs include command and provide the path to the partial to include. Path is relative to this file -->

    <!-- Include our head.ejs file -->
    <% include ../partials/head %>
</head>
<body>

    <!-- Include the header of the page -->
    <header>
        <% include ../partials/header %>
    </header>

    <h3><%= tagline %></h3>

    <h4>Friends</h4>
        <% friends.forEach(function(friend){ %>
                <li><%= friend.name %></li>
        <% }); %>

    <!-- Include the footer of the page -->
    <footer>
    <% include ../partials/footer %>
    </footer>

</body>
</html>